{% extends "base.html" %}
{% block content %}
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Map page</title>
    <style>
      html, body, #map-canvas {
        width: auto;
        height: 500px;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
// This example displays a marker at the center of Australia.
// When the user clicks the marker, an info window opens.

function initialize() {
  var myLatlng = new google.maps.LatLng(34.410047, -119.861133);
  var mapOptions = {
    zoom: 15,
    center: myLatlng
  };

function placeMarker(location) {
  var marker = new google.maps.Marker({
      position: location, 
      map: map
  });


  $.ajax({
     url: 'myPHP',
     data: location,
     success: function(){
       alert('marker was added');
     },
     error: function(){
       alert('marker wasnt added');
       marker.setMap(null);
     }
  });
}

  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

  var contentString = '<div id="content">'+
      '<div id="siteNotice">'+
      '</div>'+
      '<h1 id="firstHeading" class="firstHeading">Isla Vista</h1>'+
      '<div id="bodyContent">'+
      '<p>Home of the Gauchos </p>'+
      '</div>'+
      '</div>';

  var infowindow = new google.maps.InfoWindow({
      content: contentString
  });

  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'IV'
  });
  google.maps.event.addListener(marker, 'click', function() {
    infowindow.open(map,marker);
  });

  //allow users to add markers
  google.maps.event.addListener(map, 'click', function(event) {
  placeMarker(event.latLng);
  });


}


google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>
  <body>
    <div id="map-canvas"></div>
  </body>
{% endblock %}